.App {
  text-align: center;
  display: flex;
}

/* If screen width < 600 pixels, switch to a top & bottom layout */
@media screen and (max-width: 600px) {
  .App {
    display: block;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Continual animation placeholder */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Both columns, input and visuals */
.Column {
  background-color: white;
  font-family: "Yanone Kaffeesatz";
  min-height: 30vh;
  display: flex;
  flex: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
